/* Page Layout */ 
.wrapper {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    padding-left: 10vw;
    padding-right: 10vw;
}

.content * {
    font-family: sans-serif;
}

.content h1 {
    text-align: center;
    font-family: Hack, monospace;
}

.content p {
    text-align: justify;
    font-size: 18px;
}

.content img {
    margin: 0px auto 0px;
    display: block;
    max-width: 25%;
    max-height: 45%;
}



@media screen and (max-width: 768px) {
    .wrapper {
        min-height: 100%;
    }

    .content {
        flex-grow: 1;
        padding-left: 5%;
        padding-right: 5%;
    }

    .content p {
        font-size: 12px;
    }

    
}
