#dmode {
    display: none;
    vertical-align: top;
}

/* Dark Mode button styling*/
#dmode ~ label[for="dmode"]::before {
    content: "\2600";
    font-size: 18px;
    margin-right: 5px;
    vertical-align: baseline;
}

#dmode:checked ~ label[for="dmode"]::before {
    content: "\263E";
}



@media screen and (max-width: 768px) {
    #dmode + label[for="dmode"]::before {
        font-size: 14px;
    }
}
