/*
 * Color scheme definitions:
 * light - light scheme
 * dark - dark scheme
 *
 * Based on GruvBox
 *
 */

.light {
    --bg0h: #F9F5D7;
    --bg0s: #F2E5BC;
    --bg0: #FBF1C7;
    --bg1: #EBDBB2;
    --bg2: #D5C4A1;
    --bg3: #BDAE93;
    --bg4: #A89984;
    --fg0: #282828;
    --fg1: #3C3836;
    --fg2: #504945;
    --fg3: #655C54;
    --fg4: #7C6F64;
    --gray_cont: #7C6F64;
    --gray: #928374;
    --red_cont: #9D0006;
    --red: #CC241D;
    --green_cont: #79740e;
    --green: #98971A;
    --yellow_cont: #B57614;
    --yellow: #D79921;
    --blue: #458588;
    --blue_cont: #076678;
    --purple: #B16286;
    --purple_cont: #8F3F71;
    --aqua: #689D6A;
    --aqua_cont: #427B58;
    --orange: #D65D0E;
    --orange_cont: #AF3A03;
}

.dark {
    --bg0h: #1D2021;
    --bg0s: #32302F;
    --bg0: #282828;
    --bg1: #3C3836;
    --bg2: #504945;
    --bg3: #655C54;
    --bg4: #7C6F64;
    --fg0: #FBF1C7;
    --fg1: #EBDBB2;
    --fg2: #D5C4A1;
    --fg3: #BDAE93;
    --fg4: #A89984;
    --gray_cont: #A89984;
    --gray: #928374;
    --red_cont: #FB4934;
    --red: #CC241D;
    --green_cont: #B8BB26;
    --green: #98971A;
    --yellow_cont: #FABD2F;
    --yellow: #D79921;
    --blue: #458588;
    --blue_cont: #83A598;
    --purple: #B16286;
    --purple_cont: #D3869B;
    --aqua: #689D6A;
    --aqua_cont: #8EC07C;
    --orange: #D65D0E;
    --orange_cont: #FE8019;
}

/* Universal/Body Styling*/
* {
    background-color: var(--bg0h);
    color: var(--fg1);
}

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Page Layout */ 
.wrapper {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    padding-left: 5px;
    padding-right: 5px;
}

.content * {
    font-family: sans-serif;
}

.content h1 {
    text-align: center;
    font-family: Hack, monospace;
}

.content p {
    text-align: justify;
}

.content img {
    margin: 0px auto 0px;
    display: block;
    max-width: 25%;
    max-height: 45%;
}

.content .row {
    display: flex;
}

.content .row .column {
    flex: 50%; 
    padding-left: 5vw;
    padding-right: .5vw;
}

.content .row .column:last-child > * {
    text-align: right;
    padding-right: 5vw;
    padding-left: .5vw;
}

.warning {
    color: var(--yellow_cont);
    text-align: center;
}


/* Sticky Footers */
.page-footer {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    background-color: var(--bg2);
    align-items: center;
}

.page-footer * {
    color: var(--fg0);
    background-color: var(--bg2);
    margin-right: 6px;
    padding-left: 6px;
    border-left: 2px solid var(--fg0);
    border-right: 2px none var(--fg0);
    font-size: 12pt;
    font-family: Hack, monospace;
    margin-top: 1px;
    margin-bottom: 1px;
}

.page-footer *:first-child {
    border-left: none; 
    margin-left: none;
}

.ANSIme {
    display: inline-block;
    white-space: pre;
    letter-spacing: 0;
    line-height: 1;
    font-family: 'BitstreamVeraSansMono','CourierNew',Courier,monospace;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    }

.ANSIme span {
    width: 8px;
    background-color: ffffff;
}

/* Navigation Bar Styles
 * Nav - Sets up the nav bar
 * nav * - Basic button layout
 * nav *:first-child - remove styling for leftmost button
 * push-left - split the navbar
 */
nav {
    display: flex;
    background: var(--bg2);
    height: 30px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    align-items:center;
}

nav * {
    background: var(--bg2);
    color: var(--fg0);
    display: block;
    border-left: 2px solid var(--fg0);
    border-right: 2px none var(--fg0);
    margin-right: 6px;
    padding-left: 6px;
    text-decoration: none;
    font-family: Hack, monospace;
    font-size: 18px;
}

nav *:first-child  {
    border-left: none; 
    margin-left: none;
}

.push-left {
    margin-left: auto;
    border-left: none;
}


#dmode {
    display: none;
    vertical-align: top;
}

/* Dark Mode button styling*/
#dmode + label[for="dmode"]::before {
    content: "\2600";
    font-size: 18px;
    margin-right: 5px;
    vertical-align: text-top;
}

#dmode:checked + label[for="dmode"]::before {
    content: "\263E";
}
