
.license {
    font-size: 14pt;
    margin: 0;
    padding: 0;
}

.license > * {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
    padding-left: 2vw;
    padding-right: 2vw;
}
