---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout pageTitle="404 - That's an error">
    <div class="errMsg">
        <h3>We're sorry, that page can't be found!</h3>
        <a href="/">Return Home?</a>
    </div>
</BaseLayout>
