---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout pageTitle="About Wyatt:">
    <img src='/profile.jpg' />
    <p>I have been programming in some form or another since middle school.
    My very earliest adventures with a computer involved writing batchfiles
    to mess with my friends and sharing them in computer class - classics like
    opening somone's CD drive over and over, or randomly opening a command
    prompt and writing out messages on their screens. I realized that there
    was a lot going on behind the scenes, and wanted to peel back the curtain.
    A few days of googling "how computers work" and "how to write programs"
    later, I settled on python as a first language and started learning the 
    basics of the language from online tutorials.
    <p>That lasted a while, and I eventually was capable of making simple CLI applications.
    In high school, we didn't have any formal computer science courses in our curriculum, but
    I often used python to make specialized calculators and text-based games to
    help with homework and just to do something. My adventures with computing
    truly kickstarted in college, when I worked for Berry College's BITS (Berry 
    IT Students) program. There, I regularly worked with PowerShell scripting, got my
    Network+ Certification as part of my department's advancement program, and
    started to build some small personal projects (like an Arduino-controlled NERF blaster)
    whenever I wasn't working or studying. After I took the required entry-level 
    CS course for my major, I was hooked - and transferred to Kennesaw State
    as Berry didn't offer a Computer Science major at the time.</p> 
    <p>So here I am! Currently, I am employed as a programming tutor and have recently graduated with my 
    Bachelor's in Computer Science, focused in Cyber and Network Security. 
    Some of my interests include embedded software development, reverse engineering, computer security,
    backend programming, and networking. My current projects heavily reflect this, 
    and you can <a href="/projects/"> find out more about what I'm working on here</a>. Embedded programming
    is especially enjoyable to me, and I have to thank Prof. Sharon Perry for pointing our senior project group 
    towards the KSU Electric Vehicle Team when I said "It would be cool to build something different." 
    If you work in the above fields, I'm always open to suggestions on how to improve and for new avenues
    to explore. Likewise, if you're an employer and who you see here is someone you want on your team - <a href="/contact/">reach out!</a></p>
</BaseLayout>
