---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import '../styles/bloglist.css'

const allBlogPosts = await getCollection('blogposts');

---
<BaseLayout pageTitle="Blog Posts">
    <table class="bloglist">
        <tr>
            <th>Post Title</th>
            <th>Date Published</th>
        </tr>
    {allBlogPosts.map(blogEntry => (
        <tr>
            <td>
                <a href={`/blogposts/${blogEntry.slug}`}>{blogEntry.data.title}</a>
            </td>
            <td>
                <time datetime={blogEntry.data.publishDate.toISOString()}>
                    {blogEntry.data.publishDate.toDateString()}
                </time>
            </td>
        </tr>
    ))}
    </table>
</BaseLayout>
