---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout pageTitle="Contact Me:">
    <h2 class="warning">For the fastest response - please reach out by phone or email!</h2>
    <div class="row">
        <div class="column">
            <h3>Phone:</h3>
            <p>(229)516-2409</p>
        </div>
        <div class="column">
            <h3>E-Mail:</h3>
            <p>wyatt.r.whitfield@gmail.com</p>
        </div>
    </div>
</BaseLayout>
