---
import BaseLayout from '../layouts/BaseLayout.astro'
import ANSIpic from '../components/ANSIpic.astro'
---
<BaseLayout pageTitle="Wyatt Whitfield">
    <hr>
    <p style="font-size: 16pt">Welcome to my small corner of the internet. Here, you can find various projects, a small blog, some more information about me, and my contact information. If you like, feel free to stay a while. I add to this website fairly regularly, and maybe something will catch your interest. If you're a potential employer, make sure to check out my resume or github as well - I'm always working on something.</p>
    <ANSIpic />
    <img src='profile.jpg' />
</BaseLayout>
