---
import Navbar from '../components/Navbar.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout pageTitle="Hello World">
    <Navbar />
    <p>LandingPage (under construction)</p>
</BaseLayout>

