---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout pageTitle="License & Copyright">
<hr>
<h2>Licensing:</h2>
<h3>Hack Font:</h3>
<p>Hack work is © 2018 Source Foundry Authors. MIT License</p>
<p>Bitstream Vera Sans Mono © 2003 Bitstream, Inc. (with Reserved Font Names Bitstream and Vera). Bitstream Vera License.</p>

</BaseLayout>
