---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout pageTitle="Projects:">
    <div class="row">
        <div class="column">
            <p>Under Construction</p>
        </div>
        <div class="column">
            <p>Come Back Soon</p>
        </div>
    </div>
</BaseLayout>
