---
const { class: className, ...rest} = Astro.props
import '../styles/hamburger.css'
---
<input id="hamburger" type="checkbox" />
<label for="hamburger" class:list={className} tabindex="0">≡</label>
